
{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
<style>

/* Apply box shadow on smaller screens that don't display tabs */
@media only screen and (max-width: 1220px) {
  .md-header {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    transition: color 250ms,background-color 250ms,box-shadow 250ms;
  }
}

/* Hide main content for now */
.md-content {
  display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}

/* Get started button */
.md-typeset .md-button--primary {
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}
.md-typeset .md-button--primary:hover {
  color: var(--md-primary-bg-color);
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-bg-color);
}

.tx-hero {
  max-width: 700px;
  display: flex;
  padding: .4rem;
  margin: 0 auto;
  text-align: center;
}
.tx-hero h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: rgb(38, 38, 38);
}
.tx-hero p {
  color: rgb(92, 92, 92);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tx-hero__image {
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

/* Secondary content styles */
.secondary-section {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222)
}
@media screen and (max-width: 1012px) {
  .secondary-section {
    display: block;
  }
}

.secondary-section .g {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
  max-width: 1280px;
}

.secondary-section .g .section {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  padding: 88px 0px 116px;
}
.secondary-section .g .section .component-wrapper {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper {
    display: block;
  }
}

.secondary-section .g .section .component-wrapper h3 {
  color: rgb(38, 38, 38);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: normal;
  margin-bottom: 12px;
}

.secondary-section .g .section .component-wrapper p {
  color: rgb(92, 92, 92);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.secondary-section .g .section .component-wrapper .image-wrapper {
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 48px;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgba(202, 202, 202, 0.15) 0px 0px 0px 6px;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

.secondary-section .g .section .component-wrapper .first-column {
  padding-right: 100px;
  flex: 0 1 auto;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper .first-column {
    padding-right: 0px;
    width: 100%;
    margin-bottom: 32px;
  }
}

.secondary-section .g .section .component-wrapper .second-column {
  flex: 0 1 auto;
  height: auto;
  width: 50%;
}
@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper .second-column {
    width: 100%;
    margin-bottom: 32px;
  }
}
</style>

  <!-- Hero for landing page -->
  <div class="md-container tx-hero">
    <div class="md-grid md-typeset">
      <div class="md-main__inner">
        <div>
          <h1>Your toolkit for containerized applications on AWS</h1>
          <p>AWS Copilot is a command line interface that makes it easy for developers to <span class="em">build</span>, 
            <span class="em">release</span>, and <span class="em">operate</span> production ready containerized applications on Amazon ECS and AWS Fargate.
          </p>
          <a
            href="docs/overview/"
            title="Get Started"
            class="md-button md-button--primary"
          >
            Get started 
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" style="margin-left:2px"><path d="M1 5.16772H9.5M9.5 5.16772L6.5 1.66772M9.5 5.16772L6.5 8.66772" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="md-container">
    <div class="tx-hero__image">
      <img
        src="assets/images/screen.png"
        alt=""
        draggable="false"
      >
    </div>
  </div>

  <div class="md-container secondary-section">
    <div class="g">
      <div class="section">
        <div class="component-wrapper">
          <div class="first-column">
            <h3>A user experience to build architectures</h3>
            <p>
              Got a Dockerfile? Deploy your service to AWS with a single command. 
              Copilot generates the infrastructure from your application's architecture.
              Services that are internet-facing share the same load balancers and are integrated
              with service discovery by default.
            </p>
          </div>
          <div class="second-column">
            <div class="image-wrapper">
              <img
                src="assets/images/copilot-init.png"
                alt=""
                draggable="false"
              >
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

<!-- Content -->
{% block content %}
{% endblock %}

<!-- Application footer -->
{% block footer %}
{% endblock %}